:root {
  --test-card: linear-gradient(
    90deg,
    #bfbf00 0% 16.67%,
    #00bfbf 16.67% 33.34%,
    #00bf00 33.34% 50.01%,
    #bf00bf 50.01% 66.68%,
    #bf0000 66.68% 83.35%,
    #0000bf 83.35% 100%
  );
}

@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Urbanist-Variable.ttf) format("tryetype");
  font-display: fallback;
}
@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Urbanist-Variable.ttf) format("truetype");
  font-display: fallback;
}

/*@font-face {
  font-family: 'Urbanist';
  font-weight: 700;
  src: url(/zlafonts/Urbanist-Variable.ttf) format('truetype');
}
*/
.urbanist-black {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.govuk-header--full-width-border,
.govuk-header__container {
  border-bottom-color: #2a3d69;
}

.orange-border { border-color: #f47738;}

.orange-text { color: #f47738;}

.govuk-notification-banner {
  margin-top: 10px;
  margin-bottom: 0px;
}

.notif-banner-red {
  border: 5px solid #d4351c;
  background-color: #d4351c;
}

/* stop word wrap in banner */
.govuk-notification-banner__content > * {
  max-width: 100%;
}

.govuk-footer__copyright-logo {
  padding-top: 25px;
  background-image: none;
}

.govuk-input__suffix--hide-right {
  border-right: 0;
}

.govuk-header__nolink {
  display: inline-block;
  margin-right: 10px;
  font-size: 30px;
}

.govuk-header__right {
  margin-left: auto;
  font-size: 30px;
  font-family: "Urbanist";
}

.govuk-header__logo {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

.govuk-phase-banner-tag-red {
  background-color: #f4cdc6;
  color: #2a0b06;
}

.govuk-phase-banner-tag-green {
  background-color: #cce2d8;
  color: #005a30;
}

.govuk-phase-banner-tag-yellow {
  background-color: #fff7bf;
  color: #594d00;
}

@media screen and (max-width: 600px) {
  .header-date {
    visibility: hidden;
    display: none;
  }
}
