

@font-face {
  font-family: GDS Transport;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Urbanist-Variable.ttf) format("tryetype");
  font-display: fallback;
}
@font-face {
  font-family: GDS Transport;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Urbanist-Variable.ttf) format("truetype");
  font-display: fallback;
}

/*@font-face {
  font-family: 'GDS Transport';
  font-weight: 700;
  src: url(/zlafonts/Urbanist-Variable.ttf) format('truetype');
}
*/
.urbanist-black {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }


.govuk-header--full-width-border,
.govuk-header__container {
    border-bottom-color: #2a3d69;
  }


.govuk-notification-banner {
    margin-top: 10px;
    margin-bottom: 0px;
}

.notif-banner-red {
    border: 5px solid #d4351c;
    background-color: #d4351c;
}

/* stop word wrap in banner */
.govuk-notification-banner__content > * {
    max-width: 100%;
}

.govuk-footer__copyright-logo {
  padding-top: 25px;
  background-image: none;
}

.govuk-input__suffix--hide-right {
  border-right: 0;
}