<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Telstar - SatCalc</title>
<!-- fontawesome preload -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- head - custom css -->
  <link rel="stylesheet" href="css/style.css">

<!-- google fonts preconnect -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>



        <link rel="manifest" href="/static/manifest.json">
    <link rel="stylesheet" href="/static/css/govuk-frontend-5.7.0.min.css">
</head>

<body class="govuk-template__body">

    {% block header %} {% endblock %}
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>

  {% block footer %} {% endblock %}

<!-- last thing - custom scripts -->

  <!--Run JavaScript at end of the body, to avoid blocking the initial render. -->

  <script type="module" src="/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/govuk-frontend.min.js'
    initAll()
  </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.6.4/math.js"
integrity="sha512-BbVEDjbqdN3Eow8+empLMrJlxXRj5nEitiCAK5A1pUr66+jLVejo3PmjIaucRnjlB0P9R3rBUs3g5jXc8ti+fQ=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.6.4/math.min.js"
integrity="sha512-iphNRh6dPbeuPGIrQbCdbBF/qcqadKWLa35YPVfMZMHBSI6PLJh1om2xCTWhpVpmUyb4IvVS9iYnnYMkleVXLA=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/js/telstar-calc.js"></script>
</body>

</html>