<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<title>Trinity -  title </title>-->
  <title>Trinity - RORSAT</title>

<!--favicon-->
<link rel="icon" type="image/png" href="/favicon/favicon-48x48.png" sizes="48x48" />
<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
<link rel="shortcut icon" href="/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Trinity" />
<link rel="manifest" href="/favicon/site.webmanifest" />


  <!-- fontawesome preload -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- google fonts preconnect -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">


  <!--<link rel="stylesheet" href="/css/govuk-frontend-5.7.0.min.css">-->
  <link rel="stylesheet" href="/release-v5.12.0/govuk-frontend-5.12.0.min.css"/>
  <link rel="stylesheet" href="/css/accessible-autocomplete.min.css" />


  <!-- head - custom css - must be last css-->

  <link rel="stylesheet" href="/css/style.css">


</head>

<body class="govuk-template__body js-enabled govuk-frontend-supported">

  {% include "header.html" %}
  {% include "nav.html" %}
  <section class="section" id="main-content">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>

  {% include "footer.html" %}

  <!-- last thing - custom scripts -->

  <!--Run JavaScript at end of the body, to avoid blocking the initial render. -->

  <script type="module" src="/js/govuk-frontend-5.7.0.min.js"></script>
  <script type="module">
    import { initAll } from '/js/govuk-frontend-5.7.0.min.js'
    initAll()
  </script>


</body>

</html>