{% extends "base.html" %} {% block content %}
<div class="govuk-width-container app-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong
        class="govuk-tag govuk-phase-banner__content__tag govuk-phase-banner-tag-green"
      >
        Working
      </strong>

      <span class="govuk-phase-banner__text">
        This is a new service – your
        <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <h1 class="govuk-heading-xl">
        <span title="Low-Noise Block downconverter">LNB</span> Band Calculator
      </h1>

      <p class="govuk-body">
        This tool works out what LNB you should use to downlink your sat
        feeds.<br />
        It currently only supports K<sub>u</sub> band downconverted to L band.
      </p>

      <!-- input boxes - Frequency -->

      <div class="govuk-form-group">
        <label class="govuk-label" for="frequency"> Downlink Frequency </label>
        <div class="govuk-input__wrapper">
          <input
            type="text"
            id="frequency"
            class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing"
            spellcheck="false"
            inputmode="numeric"
          />
          <div class="govuk-input__suffix" aria-hidden="true">MHz</div>
        </div>
      </div>

      <!-- Radio buttons - Polarity -->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" id="polairty">
          <legend
            class="govuk-fieldset__legend govuk-fieldset__legend--m"
            id="polarity"
          >
            <h2 class="govuk-fieldset__heading">Polarity</h2>
          </legend>
          <div
            class="govuk-radios govuk-radios--inline"
            data-module="govuk-radios"
          >
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                type="radio"
                id="h"
                name="polarity"
                value="H"
                checked
              />
              <label class="govuk-label govuk-radios__label" for="h"
                >Horizontal (H) / X</label
              >
            </div>

            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                type="radio"
                id="v"
                name="polarity"
                value="V"
              />
              <label class="govuk-label govuk-radios__label" for="v"
                >Vertical (V) / Y</label
              >
            </div>
          </div>
        </fieldset>
      </div>

      <!-- Result: Result -->

      <div class="govuk-form-group">
        <label class="govuk-label" for="result-box"> Result </label>
        <div class="govuk-input__wrapper">
          <input
            type="text"
            id="result-box"
            class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing govuk-!-font-weight-bold"
            spellcheck="false"
            readonly="true"
            disabled="true"
          />
        </div>
      </div>
      <!-- Result: Frequency -->

      <div class="govuk-form-group" id="freq-out">
        <label class="govuk-label" for="freq-res"> Post-LNB Frequency</label>
        <p id="freq-warn" class="govuk-error-message" style="display: none">
          error text goes here
        </p>
        <div class="govuk-input__wrapper">
          <input
            type="text"
            id="freq-res"
            class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing govuk-!-font-weight-bold"
            spellcheck="false"
            inputmode="numeric"
            readonly="true"
            disabled="true"
          />
          <div class="govuk-input__suffix" aria-hidden="true">MHz</div>
        </div>
      </div>

      <button
        id="btn-clear"
        type="submit"
        class="govuk-button govuk-button--secondary"
        data-module="govuk-button"
        onclick="clr()"
      >
        Clear
      </button>
    </main>
  </div>

  <script>
    function $(selector) {
      return document.querySelector(selector); // query selector macro
    }

    function do_maths_things(f, polarity) {
      // maths as a function
      const lnb_hi = 10600;
      const lnb_lo = 9750;
      const hi_calc = f - lnb_hi;
      const lo_calc = f - lnb_lo;
      const freq_band_hi = 2000;
      const freq_band_hihi = 2200;
      const freq_band_lo = 950;

      let result = "";
      let freq_result = 999999;
      let error_severity = null;
      let error_message = "";

      let use_hi = false;
      let use_lo = false;

      if (hi_calc >= freq_band_lo && hi_calc <= freq_band_hi) {
        use_hi = true;
        freq_result = hi_calc;
      }
      if (lo_calc >= freq_band_lo && lo_calc <= freq_band_hi) {
        use_lo = true;
        freq_result = lo_calc;
      }

      // Check for high-end warning
      if (hi_calc >= freq_band_hi && hi_calc <= freq_band_hihi) {
        use_hi = true;
        freq_result = hi_calc;
        error_severity = "warn";
        error_message =
          "Frequency is at the top end of the range. Some decoders may throw a wobbly.";
      }

      if (!use_hi && use_lo) {
        result = "Lo";
      } else if (use_hi && !use_lo) {
        result = "Hi";
      } else if (!use_hi && !use_lo) {
        result = "Out of Range";
        error_severity = "error";
        error_message = "Out of range - number make dish upset.";
      } else if (use_hi && use_lo) {
        result = "Overlap, both in range";
      }

      // Add polarity prefix
      if (result === "Hi" || result === "Lo") result = polarity + result;

      // round to 2 dp
      freq_result = freq_result.toFixed(2);

      // remove .00
      freq_result = freq_result.replace(".00", "");

      return {
        result_txt: result,
        result_freq: freq_result,
        error_severity: error_severity,
        error_message: error_message,
      };
    }

    function update_thingies() {
      // function to update everything, inc styling
      const f = Number($("#frequency").value);
      const polarity = $('input[name="polarity"]:checked').value;
      const res = do_maths_things(f, polarity);

      // Clear previous styling
      $("#freq-warn").setAttribute("style", "display:none");
      $("#freq-res").classList.remove("govuk-input--error", "orange-border");
      $("#freq-warn").classList.remove("orange-text");
      $("#freq-out").classList.remove(
        "govuk-form-group--error",
        "orange-border"
      );
      $("#result-box").value = "";
      $("#freq-res").value = "";

      if (f < 9999) return; // if it's less than 4 numbers do nothing

      $("#result-box").value = res.result_txt; // put the stuff in the boxes
      $("#freq-res").value = res.result_freq;

      if (res.error_severity) {
        // red or orange
        $("#freq-warn").textContent = res.error_message;
        $("#freq-warn").setAttribute("style", "display:block");
        $("#freq-out").classList.add("govuk-form-group--error");

        if (res.error_severity === "warn") {
          $("#freq-warn").classList.add("orange-text");
          $("#freq-res").classList.add("orange-border");
          $("#freq-out").classList.add("orange-border");
        } else if (res.error_severity === "error") {
          $("#freq-res").classList.add("govuk-input--error");
        }
      }
    }

    // anytime anything is pressed, update the page
    $("#frequency").addEventListener("change", update_thingies);
    $("#frequency").addEventListener("input", update_thingies);
    $("#h").addEventListener("change", update_thingies);
    $("#v").addEventListener("change", update_thingies);

    function clr() {
      // Clear the frequency input field
      document.getElementById("frequency").value = "";

      // Clear the result box
      document.getElementById("result-box").value = "";

      // Clear the frequency result
      document.getElementById("freq-res").value = "";

      // clear error styles
      document
        .querySelector("#freq-out")
        .classList.remove("govuk-form-group--error", "orange-border");
      document
        .querySelector("#freq-warn")
        .setAttribute("style", "display:none");
      document
        .querySelector("#freq-warn")
        .classList.remove("style", "orange-text");
      document
        .querySelector("#freq-res")
        .classList.remove("govuk-input--error", "orange-border");

      // Clear the polarity selection if it exists
      if (document.getElementById("polarity")) {
        document.getElementById("polarity").value = "";
      }
    }

    // esc to clear
    addEventListener("keypress", function (event) {
      if (event.key === "Escape") {
        document.getElementById("btn-clear").click();
      }
    });
  </script>

  {% endblock %}
</div>
