{% extends "base.html" %} {% block content %}
<div class="govuk-width-container app-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong
        class="govuk-tag govuk-phase-banner__content__tag govuk-phase-banner-tag-green"
      >
        Working
      </strong>

      <span class="govuk-phase-banner__text">
        This is a new service – your
        <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <h1 class="govuk-heading-xl">
        <span title="Low-Noise Block downconverter">LNB</span> Band Calculator
      </h1>

      <!-- input boxes - Frequency -->

      <div class="govuk-form-group">
        <label class="govuk-label" for="frequency"> Downlink Frequency </label>
        <div class="govuk-input__wrapper">
          <input
            type="text"
            id="frequency"
            class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing"
            spellcheck="false"
            inputmode="numeric"
          />
          <div class="govuk-input__suffix" aria-hidden="true">MHz</div>
        </div>
      </div>

      <!-- Radio buttons - Polarity -->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" id="polairty">
          <legend
            class="govuk-fieldset__legend govuk-fieldset__legend--m"
            id="polarity"
          >
            <h2 class="govuk-fieldset__heading">Polarity</h2>
          </legend>
          <div
            class="govuk-radios govuk-radios--inline"
            data-module="govuk-radios"
          >
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                type="radio"
                id="h"
                name="polarity"
                value="H"
                checked
              />
              <label class="govuk-label govuk-radios__label" for="h"
                >Horizontal (H) / X</label
              >
            </div>

            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                type="radio"
                id="v"
                name="polarity"
                value="V"
              />
              <label class="govuk-label govuk-radios__label" for="v"
                >Vertical (V) / Y</label
              >
            </div>
          </div>
        </fieldset>
      </div>

      <!-- Buttons  -->
      <div class="govuk-button-group">
        <button
          type="submit"
          class="govuk-button"
          data-module="govuk-button"
          onclick="lnb_calc_freq()"
          id="btn-go"
        >
          Go! Do maths for me!
        </button>

        <button
          id="btn-clear"
          type="submit"
          class="govuk-button govuk-button--secondary"
          data-module="govuk-button"
          onclick="clr()"
        >
          Clear
        </button>
      </div>

      <!-- Result: Result -->

      <div class="govuk-form-group">
        <label class="govuk-label" for="result-box"> Result </label>
        <div class="govuk-input__wrapper">
          <input
            type="text"
            id="result-box"
            class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing govuk-!-font-weight-bold"
            spellcheck="false"
            readonly="true"
            disabled="true"
          />
        </div>
      </div>
      <!-- Result: Frequency -->

      <div class="govuk-form-group" id="freq-out">
        <label class="govuk-label" for="freq-res"> Frequency </label>
        <p id="freq-warn" class="govuk-error-message" style="display: none">
          error text goes here
        </p>
        <div class="govuk-input__wrapper">
          <input
            type="text"
            id="freq-res"
            class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing govuk-!-font-weight-bold"
            spellcheck="false"
            inputmode="numeric"
            readonly="true"
            disabled="true"
          />
          <div class="govuk-input__suffix" aria-hidden="true">MHz</div>
        </div>
      </div>
    </main>
  </div>

  <script>
    function $(selector) {
      return document.querySelector(selector);
    }
    function do_maths_things(a_number, polarity) {
      const lnb_hi = 10600; // top of LNB range (default)
      const lnb_lo = 9750; // bottom of LNB range (default)
      const hi_calc = f - lnb_hi;
      const lo_calc = f - lnb_lo;
      const freq_band_hi = 2000; // top of band (default)
      const freq_band_hihi = 2200; //  verrrrry top of band
      const freq_band_lo = 950; // bottom of band (default)

      let result = "";
      let freq_result = 9999; // default value

      console.log("hi-calc is", hi_calc);
      console.log("low-calc is", lo_calc);
      // Boolean values
      let use_hi = false;
      let use_lo = false;

      if (hi_calc >= freq_band_lo && hi_calc <= freq_band_hi) {
        use_hi = true;
        freq_result = hi_calc;
        console.log("use hi");
      }
      if (lo_calc >= freq_band_lo && lo_calc <= freq_band_hi) {
        use_lo = true;
        freq_result = lo_calc;
        console.log("use lo");
      }
      if (hi_calc >= freq_band_lo && hi_calc <= freq_band_hihi) {
        use_hi = true;
        freq_result = hi_calc;
        console.log("use hi hi - show warn");
      }
      if (!use_hi && use_lo) {
        result = "Lo";
      } else if (use_hi && !use_lo) {
        result = "Hi";
      } else if (!use_hi && !use_lo) {
        result = "Out of Range";
      } else if (use_hi && use_lo) {
        result = "Overlap, both in range";
      } else {
        console.warn(
          "Error in calculation; unknown state of use_hi and use_lo"
        );
        result = "error";
      }

      return { result_txt: "no" };
      return {
        result_txt: "lmao",
        result_freq: 123,
        error_severity: "warn",
        error_message: "dish stuck in panini press",
      };
    }

    function update_thingies() {
      const f = Number($("#frequency").value); // frequency input
      const polarity = $('input[name="polarity"]:checked').value;
      const res = do_maths_things(f, polarity);

      $("#result-box").value = res.result_txt;
      $("freq-res").value = res.result_freq;

      if (res.error_severity) {
        $("#freq-warn").textContent = res.error_message;
        $("#freq-out").classList.add(
          "govuk-form-group--error",
          "orange-border"
        );
        $("#freq-warn").setAttribute("style", "display:block");
        switch (res.error_severity) {
          case "warn":
            $("#freq-warn").classList.add("style", "orange-text");
            $("#freq-res").classList.add("govuk-input--error", "orange-border");
            break;
        }
      } else {
        $("#freq-warn").setAttribute("style", "display:none");
        document
          .querySelectorAll("#freq-out #freq-res")
          .forEach((e) =>
            e.classList.remove(
              "govuk-form-group--error",
              "govuk-input--error",
              "orange-border"
            )
          );
      }
    }
    function lnb_calc_freq() {
      let f = Number(document.getElementById("frequency").value); // frequency input
      const lnb_hi = 10600; // top of LNB range (default)
      const lnb_lo = 9750; // bottom of LNB range (default)
      let hi_calc = f - lnb_hi;
      let lo_calc = f - lnb_lo;
      const freq_band_hi = 2000; // top of band (default)
      const freq_band_hihi = 2200; //  verrrrry top of band
      const freq_band_lo = 950; // bottom of band (default)
      let result = "";
      let freq_result = 9999; // default value

      console.log("hi-calc is", hi_calc);
      console.log("low-calc is", lo_calc);
      // Boolean values
      let use_hi = false;
      let use_lo = false;

      // Getting radio button values
      let polarity = document.querySelector('input[name="polarity"]:checked');

      if (hi_calc >= freq_band_lo && hi_calc <= freq_band_hi) {
        use_hi = true;
        freq_result = hi_calc;
        console.log("use hi");
      }
      if (lo_calc >= freq_band_lo && lo_calc <= freq_band_hi) {
        use_lo = true;
        freq_result = lo_calc;
        console.log("use lo");
      }
      if (hi_calc >= freq_band_lo && hi_calc <= freq_band_hihi) {
        use_hi = true;
        freq_result = hi_calc;
        console.log("use hi hi - show warn");
        document
          .querySelector("#freq-out")
          .classList.add("govuk-form-group--error", "orange-border");
        document
          .querySelector("#freq-warn")
          .setAttribute("style", "display:block");
        document.querySelector("#freq-warn").textContent =
          "Frequency is at the top end of the range. Some decoders may throw a wobbly.";
        document
          .querySelector("#freq-warn")
          .classList.add("style", "orange-text");
        document
          .querySelector("#freq-res")
          .classList.add("govuk-input--error", "orange-border");
      }

      if (!use_hi && use_lo) {
        result = "Lo";
      } else if (use_hi && !use_lo) {
        result = "Hi";
      } else if (!use_hi && !use_lo) {
        result = "Out of Range";
        document
          .querySelector("#freq-out")
          .classList.add("govuk-form-group--error");
        document
          .querySelector("#freq-warn")
          .setAttribute("style", "display:block");
        document.querySelector("#freq-warn").textContent =
          "Out of range - number make dish upset.";
        document
          .querySelector("#freq-res")
          .classList.add("govuk-input--error", "orange-border");
      } else if (use_hi && use_lo) {
        result = "Overlap, both in range";
      } else {
        console.warn(
          "Error in calculation; unknown state of use_hi and use_lo"
        );
        result = "error";
      }

      // Displaying the result with polarity
      if (polarity && (result === "Hi" || result === "Lo")) {
        result = polarity.value + result;
      }

      document.getElementById("result-box").value = result;
      document.getElementById("freq-res").value = freq_result;
    }

    function clr() {
      // Clear the frequency input field
      document.getElementById("frequency").value = "";

      // Clear the result box
      document.getElementById("result-box").value = "";

      // Clear the frequency result
      document.getElementById("freq-res").value = "";

      // clear red error styles
      document
        .querySelector("#freq-out")
        .classList.remove("govuk-form-group--error", "orange-border");
      document
        .querySelector("#freq-warn")
        .setAttribute("style", "display:none");
      document
        .querySelector("#freq-warn")
        .classList.remove("style", "orange-text");
      document
        .querySelector("#freq-res")
        .classList.remove("govuk-input--error", "orange-border");

      // Clear the polarity selection if it exists
      if (document.getElementById("polarity")) {
        document.getElementById("polarity").value = "";
      }
    }

    addEventListener("keypress", function (event) {
      if (event.key === "Enter") {
        document.getElementById("btn-go").click();
      }
    });
  </script>

  {% endblock %}
</div>
