{% extends "base.html" %}

{% block content %}

<style>
    .govuk-header--full-width-border {
        border-image: var(--test-card) 1;
    }
</style>


<div class="govuk-width-container app-width-container">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag govuk-phase-banner-tag-green">
                Working
            </strong>
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                Beta
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
            </span>
        </p>
    </div>

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">Test Card Generator</h1>
                    <!-- lead paragraph -->
                    <p class="govuk-body">Generate a test card!</p>
                    <p class="govuk-body">Thanks to <a href="https://anze.dev" class="govuk-link">CraftByte</a> for
                        providing the generator, this is a simple front-end.</p>
                </div>
            </div>
            <form action="https://tpg.v0.si/index.html" method="get">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="event-name">
                                Station
                            </label>
                            <input class="govuk-input govuk-!-width-three-quarters" name="station" id="station"
                                type="text">
                        </div>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="program">
                                Program
                            </label>
                            <div id="program-hint" class="govuk-hint">
                                3 lines maximum.
                            </div>
                            <textarea class="govuk-textarea govuk-!-width-three-quarters" id="program" name="program"
                                rows="3" aria-describedby="more-detail-hint"></textarea>
                        </div>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="logo">
                                Logo Source
                            </label>
                            <div id="logo-hint" class="govuk-hint">
                                Can be a local or remote URL.
                            </div>
                            <input class="govuk-input govuk-!-width-three-quarters" name="logo" id="logo" type="text">
                        </div>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend">
                                    Time Options
                                </legend>
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="millis" name="millis"
                                            type="checkbox">
                                        <label class="govuk-label govuk-checkboxes__label" for="millis">
                                            Milliseconds
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="utc" name="utc" type="checkbox">
                                        <label class="govuk-label govuk-checkboxes__label" for="utc">
                                            UTC Hours
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="song">
                                Song
                            </label>
                            <div id="location-hint" class="govuk-hint">
                                If there's no audio, please interact with the test card to trigger.
                            </div>
                            <select class="govuk-select" id="song" name="song">
                                <option value="resources/blits.ogg">BLITS</option>
                                <option value="resources/volvosong.flac" selected>VolvoSong</option>
                                <option value="resources/song.flac">Song</option>
                                <option value="resources/dnevnik.ogg">Dnevnik</option>
                                <option value="resources/synth.mp3">Synth</option>
                                <option value="resources/surge.mp3">Surge</option>
                                <option value="resources/aberdeen.mp3">Aberdeen</option>
                                <option value="resources/irishcoffee.mp3">IrishCoffee</option>
                                <option value="resources/reuterslc.wav">Reuters Live Service</option>
                                <option value="other">Custom</option>
                                <option value="none">None</option>
                            </select>

                        </div>
                        <div class="govuk-checkboxes__conditional" id="custom-sound" style="display: none;">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="custom-sound">
                                    Custom sound file (can be local or remote URL).
                                </label>
                                <input class="govuk-input govuk-!-width-one-third" id="custom-sound"
                                    name="custom-sound-url" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="volume">
                                Volume
                            </label>
                            <div id="volume-hint" class="govuk-hint">
                                Please enter a value<br>between 0 and 100.
                            </div>
                            <input class="govuk-input govuk-input--width-3 govuk-input--extra-letter-spacing"
                                id="volume" name="volume" type="number" min="0" max="100" step="5" value="50"
                                aria-describedby="volume-hint">
                        </div>
                    </div>
                </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">

                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h1 class="govuk-fieldset__heading">
                                        Custom Ident Options
                                    </h1>
                                </legend>
                                <div class="govuk-radios" data-module="govuk-radios" id="ident-options">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="ident-none" name="ident-options"
                                            type="radio" value="none" checked>
                                        <label class="govuk-label govuk-radios__label" for="ident-none">
                                            No ident
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="ident-tts" name="ident-options"
                                            type="radio" value="tts">
                                        <label class="govuk-label govuk-radios__label" for="ident-tts">
                                            TTS
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="ident-file" name="ident-options"
                                            type="radio" value="file">
                                        <label class="govuk-label govuk-radios__label" for="ident-file">
                                            File
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="govuk-inset-text" style="margin-top: 0; margin-bottom: 20px;" id="tts-options">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <legend class="govuk-fieldset__legend">
                                TTS
                            </legend>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="ttsIdentText">
                                    TTS Text
                                </label>
                                <input class="govuk-input govuk-!-width-one-third" id="ttsIdentText" name="ttsIdentText"
                                    type="text" spellcheck="false">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="ttsIdentVoice">
                                    TTS Language
                                </label>
                                <select class="govuk-select" id="ttsIdentVoice" name="ttsIdentVoice">
                                    <option value="en">English</option>
                                    <option value="en-GB" selected>British</option>
                                    <option value="fr">French</option>
                                    <option value="de">German</option>
                                    <option value="ru">Russian</option>
                                    <option value="es">Spanish</option>
                                </select>
                            </div>

                            <div class="govuk-form-group">
                                <label class="govuk-label" for="ttsIdentDelay">
                                    TTS Volume
                                </label>
                                <input class="govuk-input govuk-input--width-3" id="ttsIdentDelay" name="ttsIdentDelay"
                                    type="number" spellcheck="false" value="100">
                            </div>
                            <div class="govuk-form-group">
                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="identSeperate" name="identSeperate"
                                            type="checkbox" value="identSeperate">
                                        <label class="govuk-label govuk-checkboxes__label" for="identSeperate">
                                            TTS Ident Seperate
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-form-group" style="margin-bottom: 15px;">
                                <label class="govuk-label" for="ttsIdentDelay">
                                    Ident delay
                                </label>
                                <div class="govuk-input__wrapper">
                                    <input class="govuk-input govuk-input--width-4" id="ttsIdentDelay"
                                        name="ttsIdentDelay" type="number" spellcheck="false" value="5000">
                                    <div class="govuk-input__suffix" aria-hidden="true">ms</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="govuk-inset-text" style="margin-top: 0; margin-bottom: 20px;" id="tts-options">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <legend class="govuk-fieldset__legend">
                                File
                            </legend>
                            <div class="govuk-form-group" style="margin-bottom: 10px;">
                                <label class="govuk-label" for="fileIdent">
                                    File
                                </label>
                                <input class="govuk-input govuk-!-width-one-third" id="fileIdent" name="fileIdent"
                                    type="text" spellcheck="false">
                            </div>
                        </div>
                    </div>
                </div>















                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <div id="buttons" class="govuk-button-group ">
                            <button type="submit" class="govuk-button govuk-button--start" data-module="govuk-button">
                                Generate
                                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5"
                                    height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-half govuk-!-text-align-right">
                        <button id="clear" type="reset" class="govuk-button govuk-button--secondary"
                            data-module="govuk-button" onclick="clr()">
                            Clear
                        </button>
                    </div>
                </div>
                <div class="govuk-body">
                    <p class="govuk-body"><i>This will redirect you to <a href="https://tpg.v0.si/index.html"
                                class="govuk-link">tpg.v0.si</a>. No
                            tracking.</i></p>
                </div>
    </div>
    </form>

    </main>
</div>

<script>
    document.getElementById("song").addEventListener("change", function () {
        var customSound = document.getElementById("custom-sound");
        if (this.value === "other") {
            customSound.style.display = "block";
        } else {
            customSound.style.display = "none";
        }
    });

    function clr() {
        document.getElementById("station").value = "";
        document.getElementById("program").value = "";
        document.getElementById("logo").value = "";
        document.getElementById("volume").value = "50";
        document.getElementById("song").value = "resources/volvosong.flac";
        document.getElementById("custom-sound").value = "";
        document.getElementById("custom-sound").style.display = "none";
        document.getElementById("millis").checked = false;
        document.getElementById("utc").checked = false;
    }



    function handleSongChange() {
        var songSelect = document.getElementById('song');
        var customSoundInput = document.getElementById('custom-sound');
        var customSoundUrlInput = document.getElementById('custom-sound-url');

        if (songSelect.value === 'other') {
            customSoundInput.style.display = 'block';
            customSoundUrlInput.value = songSelect.value;
        } else {
            customSoundInput.style.display = 'none';
            customSoundUrlInput.value = '';
        }
    }

console.log(document.getElementById("ident-options").id);

</script>
{% endblock %}