{% extends "base.html" %}

{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <h1 class="govuk-heading-xl">Timezones are a mess.</h1>
        <!-- lead paragraph -->
        <p class="govuk-body">This will contain a timezone calculator at some point.</p>
        <div class="govuk-body">
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-2">
                    Enter Time
                </label>
                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-2" id="weight" name="weight" type="text"
                        spellcheck="false">
                    <div class="govuk-input__suffix govuk-input__suffix--hide-right" aria-hidden="true">HH</div>
                    <input class="govuk-input govuk-input--width-2" id="weight" name="weight" type="text"
                        spellcheck="false">
                    <div class="govuk-input__suffix" aria-hidden="true">MM</div>
                </div>
                
            </div>
        </div>





    </main>
</div>
{% endblock %}